<div class="fix-btn program-btn-mobile">
  <a href="javascript:;"><span>免費</span>領取濾鏡</a>
</div>
<div class="cd-popup-mobile" role="alert">
  <div class="cd-popup-container-mobile">
    <div class="cd-popup-container-info">
      <div class="cd-popup-container-title">
        <h3>最快速入門的課程</h3>
        <h4>填單解鎖完整教學及濾鏡，<br />還可參加抽獎哦！</h4>
      </div>
      <div
        class="popup-swiper-wrap popup-swiper-wrap-mobile popup-swiper-block"
      >
        <h5 class="h5 swiper-title">好禮大方抽</h5>
        <!-- Swiper -->
        <div class="swiper popup-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../../common/images/ carousel-img/1.svg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../../common/images/ carousel-img/2.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <div
        class="popup-swiper-wrap popup-swiper-wrap-mobile popup-swiper-block2"
      >
        <h5 class="h5 swiper-title swiper-title-2">填單立即送</h5>
        <!-- Swiper -->
        <div class="swiper popup-swiper2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="../../common/images/ carousel-img/3.svg" alt="" />
            </div>
            <div class="swiper-slide">
              <img src="../../common/images/ carousel-img/4.svg" alt="" />
            </div>
          </div>
        </div>
        <div class="swiper-button-next2"></div>
        <div class="swiper-button-prev2"></div>
        <div class="swiper-pagination2"></div>
      </div>
    </div>
    <div class="cd-popup-container-from">
      <span class="cd-popup-from-line-top"></span>
      <span class="cd-popup-from-line-bottom"></span>
      <h3>機會是靠自己爭取的！</h3>
      <h4>填寫資料即享領取免費濾鏡及抽獎資格</h4>
      <div class="popup-form">
        <!--表單-->
        <form
          id="contact-form"
          class="form-distribution"
          
        >
				<input name="distribution" type="text" hidden value="15" />
				<input name="outletSub" type="text" hidden value="504" />
				<input name="mediaSub" type="text" hidden value="757" />
				<input name="type" type="text" hidden value="Event" />
				<input name="course" type="text" hidden value="2022赫拉!跟大師學_節目">
				<input name="gift" type="text" hidden value="線上課程+實體講座">
          <fieldset>
            <input
              placeholder="真實姓名"
              name="name"
              type="text"
              tabindex="1"
              required
              autofocus
            />
          </fieldset>
          <fieldset>
            <input
              placeholder="手機號碼"
              name="cellphone"
              type="tel"
              tabindex="2"
              required
            />
          </fieldset>
          <fieldset>
            <div class="select-form">
              <select id="city" class="select-form-block" name="city">
                <option value="">請選縣市</option>
                <option value="imperial">test1</option>
                <option value="Metric">test2</option>
              </select>
              <select id="area" class="select-form-block" name="area">
                <option value="">請選地區</option>
                <option value="imperial">test1</option>
                <option value="Metric">test2</option>
              </select>
            </div>
          </fieldset>
          <fieldset>
            <input
              placeholder="電子信箱"
              type="email"
              name="email"
              tabindex="3"
              required
            />
          </fieldset>
          <fieldset>
            <div class="checkbox-wrap">
              <h5>您是否想參與攝影講堂</h5>
              <ul class="unstyled centered">
                <li>
                  <input
                    class="styled-checkbox"
                    id="value1m"
                    type="radio"
                    value="value1m"
                    name="drone"
                    checked
										data-value="台北場"
                  />
                  <label for="value1m">台北場</label>
                </li>
                <li>
                  <input
                    class="styled-checkbox"
                    id="value2m"
                    type="radio"
                    value="value2m"
                    name="drone"
										data-value="台中場"
                  />
                  <label for="value2m">台中場</label>
                </li>
                <li>
                  <input
                    class="styled-checkbox"
                    id="value3m"
                    type="radio"
                    value="value3m"
                    name="drone"
										data-value="高雄場"
                  />
                  <label for="value3m">高雄場</label>
                </li>
                <li>
                  <input
                    class="styled-checkbox"
                    id="value4m"
                    type="radio"
                    value="value4m"
                    name="drone"
										data-value="暫無興趣"
                  />
                  <label for="value4m">暫無興趣</label>
                </li>
              </ul>
            </div>
          </fieldset>
          <fieldset class="textarea-block">
            <textarea
						id="message_area"
              placeholder="想詢問攝影相關問題..."
              tabindex="5"
              required
            ></textarea>
          </fieldset>
          <fieldset class="unstyled2 centered">
            <input
              class="styled-checkbox"
              id="value5m"
              type="checkbox"
              value="value5m"
              name="agreement"
            />
            <label for="value5m"></label>
            <span
              >我已詳細閱讀並同意<a
                href="https://www.appedu.com.tw/frame-privacy"
                target="_blank"
                class="form-privacy"
                >隱私權使用條款</a
              ></span
            >
          </fieldset>
          <p class="form-info">
            填寫完表單後，請點擊【立即領取】<br />可立即領取好禮，
            填寫成功訊息將回傳至<br />您填寫的Email信箱以及手機簡訊。
          </p>
          <fieldset class="submit-btn">
						<button class="submit_btn btn-submit" name="btnsubmit" id="contact-submit" value="填寫完成" type="submit" title="填寫完成">填寫完成</button>
					</fieldset>
        </form>
      </div>
    </div>
    <a href="#0" class="cd-popup-close-mobile img-replace">Close</a>
  </div>
  <!-- cd-popup-container -->
</div>
<!-- cd-popup -->
