<div class="footer-wrap">
	<div class="footer-logo">
		<a href="https://www.appedu.com.tw/" target="_blank">赫綵設計學院</a>
	</div>
  <ul class="footer-media">
    <li class="footer-media-icon fb"><a href="https://www.facebook.com/appedu/" target="_blank" >facebook</a></li>
    <li class="footer-media-icon line"><a href="https://page.line.me/ksn8716p?openQrModal=true" target="_blank" >line</a></li>
    <li class="footer-media-icon yt"><a href="https://www.youtube.com/user/AppeduDesignTraining" target="_blank" >youtube</a></li>
    <li class="footer-media-icon ig"><a href="https://www.instagram.com/appedudesign/" target="_blank" >instagram</a></li>
  </ul>
  <div class="footer-contact"></div>
  <div class="footer-copyright">
    <span>Copyright ©Appedu. All rights reserved.</span>
    <span
      >赫綵電腦有限公司保有活動內容更改之權利，最新資訊以活動網站為主。</span
    >
  </div>
</div>
